.column img {
  width: 40px;
  height: 40px;
}

.column__title {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.column__list {
  margin-top: 20px;
}

.column__item {
  margin-top: 10px;
  font-size:  14px;
  font-family: 'Nunito', sans-serif;
}
