/*nav*/

.nav {
  position: fixed;
  top: 51px;
  left: 0;
  max-height: 0;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;

  &.active {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }

  &__item {
    // padding: 24px 15px;
    font-size: 24px;
    border-bottom: 1px solid #aaa;

    a {
      display: block; /* Растягиваем ссылку на всю ширину элемента */
      padding: 24px 15px;
    }
  }
}

