//Color settings
$image-border-color: #aaa;
$basic-border-color: #000;
$basic-background-color: #fff;
$background-footer-color: #484848;
$text-footer-color: #fff;
$modal-background-color:  rgba(0, 0, 0, 0.5);

//Gap settings
$gap-large: 30px;
$gap-small: 15px;

//Border-radius set
$image-border-radius: 20px;