/*care*/
@import '../utils/mixins';

.care {
  @include padding-standart();

  &__wrapper {
    @include flex-column($gap-large)
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }
  
  &__copy {
    margin-top: 10px;
    font-size: 14px;
    
    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__image-block {  
    height: 72vw;
    @include image-border-line();
    border-radius: $image-border-radius;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
