/*cashback*/
@import '../utils/mixins';

.cashback {
  @include padding-standart();

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__copy {
    margin-top: 10px;
    font-size: 14px;

    &:first-of-type {
      margin-top: 20px; 
    }
  }

  &__button {
    border: 1px solid #aaa;
    border-radius: 30px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


