/*clients*/
@import '../utils/mixins';

.clients {
  padding: $padding-section-sm;

  &__brands {
    color: var(--icon-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
