/*footer*/
@import '../utils/mixins';

.footer {
  @include padding-standart();
  color: $text-footer-color;
  background: $background-footer-color;

  &__wrapper {
    display: grid;
    gap: $gap-large;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-large;
  }

  &__logo {
    display: block;
    width: 216px;
    height: 24px;
  }

  &__copy {
    margin-top: 10px;
    font-size: 12px;
  }

  &__dev {
    display: flex;
    justify-content: center;

    img {
      margin-top: 10px;
      width: 130px;
      height: 46px;
    }
  }
}